pandas
numpy 
ipykernel
scipy
seaborn
matplotlib
fastparquet
pyarrow
requests
scikit-learn
pdfplumber
langchain
langgraph
langgraph-prebuilt 
langchain_openai
langchain_experimental
tabulate
statsmodels